<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>TODO-List</title>
</head>
<body>
    <div id="app">

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            template: `
            <nav-bar></nav-bar>
        
            <add-entry-btn
            @toggle-add-box="toggleAddBox">
            </add-entry-btn>
            
            <entry-info
            v-if="showAddBox"
            @toggle-add-box="toggleAddBox"
            @add-todo="addTODO"
            :title="todoTitle"
            :desc="todoDesc">
            </entry-info>

            <todo-list v-for="(item, index) in todoArray"
            :title="item.title" :desc="item.desc"
            :position="index"
            @delete-element="deleteElement">
            </todo-list>

            `,
            components: ['nav-bar', 'add-entry-btn', 'entry-info', 'todo-list', 'none-here'],
            data() {
                return {
                    showAddBox: false,
                    todoArray: JSON.parse(localStorage.getItem('todoArray')) || [],
                    todoTitle: '',
                    todoDesc: '',
                    todo: {title: '', desc: ''}

                }
            },
            methods: {
                toggleAddBox() {
                    this.showAddBox = !this.showAddBox
                    this.todoTitle = ''
                    this.todoDesc = ''
                },
                addTODO(title, desc) {
                    this.todoTitle = title
                    this.todoDesc = desc

                    this.todoArray.push({ title: this.todoTitle, desc: this.todoDesc })
                    localStorage.setItem('todoArray', JSON.stringify(this.todoArray))
                },
                deleteElement(index) {
                    this.todoArray.splice(index, 1)
                    localStorage.setItem('todoArray', JSON.stringify(this.todoArray))
                }
            }
        })

        app.component('nav-bar', {
            template: `
            <div id="nav">
                <ul id="nav-list">
                    <li id="active"><a href="index.html" class="link">TODO-List</a></li>
                    <li id="home-link"><a href="index.html" class="link">Clear All</a></li>
                </ul>
            </div>
            `
        })

        app.component('todo-list', {
            template: `
            <div v-if="position % switchNumber == 0" id="list-items" style="background-color: white;">
                <div id="title-space" class="todo-item">
                    <p>{{ title }}</p>
                </div>

                <div id="desc-space" class="todo-item">
                    <p>{{ desc }}</p>
                </div>

                <div id="close-space" class="todo-item">
                    <p><a href="#" @click.prevent="removeElement">x</a></p>
                </div>

            </div>

            <div v-else id="list-items" style="background-color: #e5eaef;">
                <div id="title-space" class="todo-item">
                    <p>{{ title }}</p>
                </div>

                <div id="desc-space" class="todo-item">
                    <p>{{ desc }}</p>
                </div>

                <div id="close-space" class="todo-item">
                    <p><a href="#" @click.prevent="removeElement">x</a></p>
                </div>

            </div>

            

            `,
            props: ['title', 'desc', 'position'],
            data() {
                return {
                    index: this.position,
                    switchNumber: 2
                }
            },
            methods: {
                removeElement() {
                    this.$emit('delete-element', this.index)
                }
            }

        })

        app.component('add-entry-btn', {
            template: `
            <div id="add-entry">
                <ul>
                    <li><a href="#" @click.prevent="toggleAddBox">+</a></li>
                </ul>
            </div>
            `,
            data() {
                return {
                    
                }
            },
            methods: {
                toggleAddBox() {
                    this.$emit('toggle-add-box');
                }
            }
        })

        app.component('entry-info', {
            template: `

                <form>
                    <div id="add-entry-box">
                        <div>
                            <p><a href="#" @click.prevent="toggleAddBox">X</a></p>      
                        </div>
                        <div>
                            <h3 class="box-title">Title</h3>
                            <input type="text" class="input-box" id="title-box" v-model="compTitle" />
                        </div>
                        <div>
                            <h3 class="box-title">Description (Optional)</h3>
                            <textarea type="text" class="input-box" id="desc-box" v-model="compDesc" /> 
                        </div>
                        <div id="button-div">
                            <button @click.prevent="addTODO">Add TODO Item</button>
                        </div>
                    </div>
                </form>
        
            `,
            data() {
                return {
                    compTitle: this.title,
                    compDesc: this.desc
                }
            },
            props: ['title', 'desc'],
            methods: {
                toggleAddBox() {
                    this.$emit('toggle-add-box');
                },
                addTODO() {
                    this.$emit('add-todo', this.compTitle, this.compDesc)
                    this.compTitle = ''
                    this.compDesc = ''
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>