<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>TODO-List</title>
</head>
<body>
    <div id="app">

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            template: `
            <nav-bar></nav-bar>
        
            <add-entry-btn
            @toggle-add-box="toggleAddBox">
            </add-entry-btn>
            
            <entry-info
            v-if="showAddBox"
            @toggle-add-box="toggleAddBox"
            @add-todo="addTODO"
            :title="todoTitle"
            :desc="todoDesc">
            </entry-info>
            `,
            components: ['nav-bar', 'add-entry-btn', 'entry-info'],
            data() {
                return {
                    showAddBox: false,
                    todoArray: [],
                    todoTitle: '',
                    todoDesc: '',
                    todo: {title: '', desc: ''}

                }
            },
            methods: {
                toggleAddBox() {
                    this.showAddBox = !this.showAddBox
                },
                addTODO() {
                    console.log(`Main Title: ${this.todoTitle}`)
                }
            }
        })

        app.component('nav-bar', {
            template: `
            <div id="nav">
                <ul id="nav-list">
                    <li id="active"><a href="#" class="link">TODO-List</a></li>
                    <li id="home-link"><a href="#" class="link">Home</a></li>
                </ul>
            </div>
            `
        })

        app.component('add-entry-btn', {
            template: `
            <div id="add-entry">
                <ul>
                    <li><a href="#" @click.prevent="toggleAddBox">+</a></li>
                </ul>
            </div>
            `,
            data() {
                return {
                    
                }
            },
            methods: {
                toggleAddBox() {
                    this.$emit('toggle-add-box');
                }
            }
        })

        app.component('entry-info', {
            template: `
                <div id="hidden-add">
                    <form @submit.prevent="addTODO">
                        <div id="add-entry-box">
                            <div>
                                <p><a href="#" @click.prevent="toggleAddBox">X</p>      
                            </div>
                            <div>
                                <h3 class="box-title">Title</h3>
                                <input type="text" class="input-box" id="title-box" v-model="compTitle">
                            </div>
                            <div>
                                <h3 class="box-title">Description (Optional)</h3>
                                <textarea type="text" class="input-box" id="desc-box" v-model="compDesc" /> 
                            </div>
                            <div id="button-div">
                                <button>Add TODO Item</button>
                            </div>
                        </div>
                    <form>
                </div>
            `,
            data() {
                return {

                }
            },
            props: ['title', 'desc'],
            methods: {
                toggleAddBox() {
                    this.$emit('toggle-add-box');
                },
                addTODO() {
                    this.$emit('add-todo')
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>