@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: rgb(91, 135, 255);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;

}

#nav {
    background-color: #6a88a0;

}

#nav-list {
    display: flex;
    justify-content: space-between;
}

#nav-list > li {
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: white;
}

#active {
    background-color: #537590;
}

#add-entry {
    background-color: #537590;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    bottom: 30px;
    right: 35px;
}

#add-entry > ul {
    list-style-type: none;
}

#add-entry > ul > li > a{
    padding: 10px 13px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#add-entry-box {
    background-color: #537590;
    display: inline-block;
    padding: 10px 20px 10px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


#add-entry-box > div > p {
    float: right;
}

#add-entry-box > div > p > a {
    text-decoration: none;
    background-color: ;
    padding: 2px 7px;
    border-radius: 50%;
    color: white;
}

#button-div {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

#button-div > button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: 0px;
    margin-top: 10px;
}

#button-div > button:hover {
    cursor: pointer;
}

.input-box {
    border: 0px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#title-box {
    width: 250px;
    height: 35px;
    padding: 0px 10px;
}

#desc-box {
    width: 250px;
    height: 150px;
    padding: 10px;
    resize: none;
}

.box-title {
    margin: 10px;
}

#hidden-add {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-items {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #e5eaef;

}

#title-space {
    width: 200px;
    display: flex;
    align-items: center;


}

#desc-space {
    width: 500px;

}

#close-space {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-item {
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;


}

#close-space > p > a{
    text-decoration: none;
    color: black;
}

#image-space {
    margin-top: 10px;
    margin-left: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}